* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #000;
}

img {
    width: 100%;
    object-fit: cover;
    border: turquoise;
    border-radius: 15px;
}

#layout {
    width: 90%;
    max-width: 900px;
    margin: 0px auto;
}

.horizontal-masonry-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 10px 0px;
}

.horizontal-masonry-gallery img {
    height: 250px;
    flex: 1;
    margin-bottom: 24px;
}

.vertical-masonry-gallery {
    column-count: 3 auto;
    column-gap: 24px;
    padding: 10px 0px;
}

.vertical-masonry-gallery img {
    margin-bottom: 24px;
}

