* {
    box-sizing: border-box;
}

body {
    background-color: rgb(185, 254, 255);
    margin: 0px;
    text-align: center;
}

.button {
    background-color: rgb(255, 250, 183);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
}

.button2 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
}

.button3 {
    background-color: rgb(168, 132, 235);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
}

.light-container {
    background-color: #fae2bf;
    margin: 0px;
    padding: 0px 0px;
}

.dark-container {
    background-color: #222831;
    margin: 0px;
    color: white;
}

.one-container {
    background-color: #b7dbfc;
    margin: 0px;
    padding: 0px 0px;
}

.single-column {
    width: 50%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
}