#container {
    width: 500px;
    min-height: 100vh;
    background-color: rgb(251, 255, 255);
    font-size: 0px;
}
.block{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: rgb(236, 92, 241);
    box-shadow: inset 0px 0px 16px 4px rgb(255, 255, 255);
}

.orange{
    background-color: rgb(247, 161, 2);
}

.pink{
    background-color: rgb(252, 171, 245);
}

.green{
    background-color: rgb(185, 252, 171);
}

.teal{
    background-color: rgba(164, 255, 247, 0.993);
}

.empty{
    background-color: transparent;
    border-color: transparent;
    box-shadow: transparent;
}