* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(to bottom, rgb(195, 121, 238), #3cb2c7);
    display: flex;
    justify-content: flex-end;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar #logo {
    margin-right: auto;
    padding: 12px 24px; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    font-size: large;
}

#navbar a:hover {
    background-color: rgb(11, 83, 116);
}