* {
    box-sizing: border-box;
}

body {
    background-color: white;
    border: 5px solid red;
    text-align: center;
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    max-width: 1000px;
    margin: 0px auto;
}

#card-section {
    background-color:white;
    padding: 48px;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card1 {
    text-align: center;
    padding-top: 160px;
    font-size: larger;
}

.card {
    flex: 1;
    padding: 36px;
    text-align: center;
    margin: 36px;
}

.card h3 {
    font-family: 'Arial Black', sans-serif;
    color:black;
    font-size: 36px;
    margin: 0px;
}

.card p {
    font-size: 24px;
    margin: 24px 0px 0px;
}

h3 {
    color: darkblue;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    margin: 0px;
    padding: 24px 0px;
}

p {
    font-size: 24px;
    margin: 0px;
    padding: 0px 0px 24px;
}

#two-columns {
    display: flex;
}

#column-1,
#column-2 {
    flex: 1;
}

#column-1 {
    background-color: white;
}

#column-2 {
    background-color: white;
}

.button {
    background-color:aliceblue;
    border: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 5px #999;
}

