@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Griffy&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#two-columns {
    display: flex;
    width: 80%;
    min-width: 600px;
    max-width: 1000px;
    margin: 48px auto;
}

#sidebar-content {
    width: 250px;
    order: 2;
    margin-top: 24px;
    padding: 0px 12px;
}

#sidebar-content h2 {
    font-family: "Fredericka the Great";
    background-color: darkturquoise;
    color: white;
    padding: 8px 16px;
    margin: 0px;
    border-bottom: #000000 solid 2px;
}

#sidebar-content ul {
    border: 1px solid #DDDDDD;
    margin: 0px;
    padding: 16px;
    list-style-type: none;
}

#sidebar-content ul li {
    padding: 8px 0px;
}

#sidebar-content ul a {
    color: #000000;
    text-decoration: none;
}

#main-content {
    flex: 1;
    order: 1;
    margin-right: 16px;
    background-color: darkturquoise;
    border: #000000 solid 2px;
    width: 50%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

.sticky {
    position: sticky;
    top: 24px;
    font-family: "Radley", serif;
    border: black solid 2px;
    background-color: rgb(189, 160, 221);
    margin: 10px;
}

#sticky-sidebar {
    position: sticky;
    top: 24px;
}

#sticky-sidebar1 {
    position: sticky;
    top: 24px;
    border: black solid 2px;
    background-color: rgb(189, 160, 221);
    margin: 10px;
}

h1 {
    font-family: "Fredericka the Great", serif;
}

p {
    font-family: "Radley", serif;
}

* {
    box-sizing: border-box;
}

body {
    background-color: lavender;
    color: #000000;
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(to bottom, rgb(195, 121, 238), #3cb2c7);
    border-bottom: #000000 solid 2px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar h4 {
    font-family:  "Fredericka the Great";
    color: white;
    font-size: xx-large;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

#navbar .wordmark:hover {
    background-color: transparent;
}

#navbar a {
    margin:auto;
    text-decoration: none;
    color: white;
    padding: 24px;
    text-align: center;
}

#navbar #logo {
    padding: 12px 24px; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    font-size: large;
    margin-top: 10px 10px; 
    padding: 0px;
}

#navbar a:hover {
    background-color: rgb(11, 83, 116);
}

#navbar #logo:hover {
    background-color: transparent;
}

.a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px;
    font-weight: bold;  
}