* {
    box-sizing: border-box;
}

body {
    background-color: lavender;
    color: #000000;
    margin: 0px;
    font-family: sans-serif;
}

.a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px;
    font-weight: bold;  
}

.single-column {
    background-color: darkturquoise;
    width: 50%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
}

.single-column1 {
    background-color: lavender;
    width: 50%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
}

